.container {
  flex-wrap: wrap;
  padding: 2px;
  padding-bottom: 35px;
  flex-direction: row;
  font-size: 18px;
  height: 100%;


  .signboard {
    width: 50vw;
    height: 50vw;
    position: relative;
    animation: swing 1.5s ease-in-out infinite alternate;
    transform-origin: 50% 0px;
    transform: translate(50%, -50%);
    top: 50%;
    margin: 0 auto;
    margin-top: -50%;
    text-align: center;

    .sign {
      position: absolute;
      top: 50%;
      width: 100%;
      font-size: 2em;
      background-color: burlywood;
      border-radius: 15px;
      color: saddlebrown;
      font-family: sans-serif;
      font-weight: 300;
      text-align: center;
      text-shadow: 0 2px 0 rgba(255, 255, 255, 0.3), 0 -2px 0 rgba(0, 0, 0, 0.7);
    }


    .strings {
      width: 70%;
      height: 70%;
      border: 5px solid brown;
      position: absolute;
      border-right: none;
      border-bottom: none;
      transform: rotate(45deg);
      transform-origin: 0px 0px;
      left: 50%;
    }

    .pin {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      position: absolute;
    }

    .pin.top {
      background-color: brown;
      left: 50%;
      transform: translate(-50%, 0px);
    }

    .pin.left,
    .pin.right {
      background-color: brown;
      top: 46%;
      box-shadow: 0 2px 0 rgba(255, 255, 255, 0.3);
    }

    .pin.left {
      left: 0px;
    }

    .pin.right {
      right: 0px;
    }

    @keyframes swing {
      from {
        transform: rotate(10deg);
      }

      to {
        transform: rotate(-10deg);
      }
    }
  }

  .aside {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 25%;

    .ant-menu-item-active {
      color: initial;
    }

    .ant-menu-item-selected {
      color: #1890ff;
    }
  }

  .menu-wrap {
    flex: 1;
    padding-left: 25%;
    font-size: 18px;
    height: 100%;

    &>div {
      height: 100%;
      overflow-y: auto;
    }

    .title {
      color: lightgray;
      margin: 0;
      font-style: italic;
      font-size: .8em;
    }

    .food-card {
      margin: 0px 5px 8px 5px;
    }

    .food-card>div {
      display: flex;
      padding: 8px;
      min-height: 130px;

      .img-box {
        flex-basis: 40%;

        img {
          width: 100%;
        }
      }

      .details {
        flex: 1;
        position: relative;

        .desc {
          min-height: 1em;
        }

        .wrap {
          position: absolute;
          bottom: 0;
          width: 100%;
          overflow: hidden;
        }

        .price {
          float: left;
          margin-bottom: 0px;
          font-size: 1.3em;
          color: red;
        }

        .control {
          float: right;
          font-size: 1.2em;

          button {
            position: relative;
            width: 25px;
            height: 25px;
            background-color: #e3eff3;
            border: 1px solid;
            border-radius: 50%;
            vertical-align: middle;
          }

          .inc::after {
            content: '+';
            font-size: 1.5em;
            position: absolute;
            top: -10px;
            right: 3px;
          }

          .dec::after {
            content: '-';
            font-size: 1.5em;
            position: absolute;
            top: -10px;
            right: 6px;
          }
        }
      }
    }
  }

  .cart-wrap {
    position: fixed;
    padding: 0px;
    bottom: 0px;
    height: 35px;
    width: 100%;
    background-color: white;

    .cart-status {
      border-radius: 50px;
      background-color: #ffc53d8f;
      width: 90%;
      font-size: 18px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      padding: 0px 15px 0px 10px;

      i {
        font-size: 1.2em;
      }

      button {
        font-weight: bolder;
        border-radius: 30%;
        background-color: #ffba5a;
        margin-left: 20px;
        padding: 0px 11px;
      }
    }

    .cart-model {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #00152994;
      z-index: -1;
      transition: all 1s;

      .cart-details {
        background-color: #f7f9ff;
        position: fixed;
        bottom: 1px;
        min-height: 50px;
        width: 100%;
        padding: 30px;
        transition: all 1s;

        li {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          font-size: 1.4em;

          .name {
            margin-right: 5px;
          }

          div {

            .price {
              color: red;
              margin-right: 8px;
            }

            span {
              display: inline-block;
              min-width: 2em;
              text-align: center;
            }

            button {
              position: relative;
              width: 26px;
              height: 26px;
              background-color: #e3eff3;
              border: 1px solid;
              border-radius: 50%;
              vertical-align: middle;
            }

            .inc::after {
              content: '+';
              font-size: 1.4em;
              position: absolute;
              top: -12px;
              right: 3px;
            }

            .dec::after {
              content: '-';
              font-size: 1.4em;
              position: absolute;
              top: -12px;
              right: 5px;
            }
          }
        }

      }
    }
  }

}