.manage {
  height: 100%;
}
.manage .main .aside {
  flex: 0 0 25%;
  max-width: 25%;
  min-width: 25%;
  width: 25%;
}
.manage .main .aside ul div {
  padding-left: 0px !important;
}
.manage .main .aside ul li {
  padding-left: 10px !important;
}
.manage .main .food-item {
  margin-bottom: 8px;
}
.manage .main .food-item ul li {
  margin: 8px;
}
